<!doctype html>  
<html lang="en">  
<head>  
<title>Wherry Maud Trust</title>
   <link rel="stylesheet" href="style.css">  
   <meta name="viewport" content="width=device-width, initial-scale=1.0">  
   <script src="index.js" defer></script>
</head>  
<body>
    <main>
        <h1>Wherry Maud Trust Pop Up Museum</h1>
        <span>Something something click button to watch video something something</span>
        <hr>
        <h2 style="text-align: center;">Click to Watch</h2>

        <% for(let i=0; i<media.video.length; i++) {%>
        <div class="menu-selection">
            <img src="icons/video1.PNG" class="menu-selection-icon">
            <div class="menu-selection-text">
                <h3 class="menu-selection-heading"><%= media.video[i].title %></h3>
                <span class="menu-selection-desc"><%= media.video[i].subtitle %></span>
            </div>
        </div>
        <% } %>

    </main>
<%= media.video %>
</body>  
</html>