<!doctype html>  
<html lang="en">  
<head>  
<title>Wherry Maud Trust</title>
   <!--link rel="stylesheet" href="/style.css"-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<style>
    body{
        background-color: black;
    }
    #video{
        height:95vh;
        margin:auto;
        display: block;
    }
</style>
<script>
function playVideo(){
    document.getElementById("video").play();
}

document.addEventListener('keydown', function(e){
    if(e.code == 'Backspace'){
        document.location = "/";
    }
});

</script>

<body>
    <video id="video" src="/<%= data.filename %>" preload oncanplaythrough="playVideo();"></video>
</body>  
</html>